<!DOCTYPE html>
<html lang="en">
  <head>
    <title>wholesaledeals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main.css"/>    
    <link rel="stylesheet" href="../assets/css/form.css"/>

  </head>
<body>  

<nav class="navbar navbar-expand-sm mainnav">
  <a class="navbar-brand" href="#"><img src="../images/logo.png"/></a>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item"> 
        <a class="nav-link" href="#">Investment Properties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Success Stories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Get Funding</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="#">Post a deal</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="#">Resources</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>   
      
    </ul>
    
    <div class="main-button">
      <button class="button-1">Sign in </button>
      <button class="button-2">Get Started </button>
    </div>  
  </div>  
</nav>
<!-- Banner Main-->

<!--Sección 1-->
<section>
<div class="container">
    <div class="row">
        <div class="col-md-8">
          <!--Nota-->
            <div>
              <h4>How could real estate invertment become accesible for small-scale investors?</h4>
              <div class="autor">
                <a href="#" class="card-link" >            
                  <img class="card-img-top" src="../images/17.png" alt="Card image cap" style="width: 5%;float: left;margin-right: 13px;" />
                </a>
              </div>
              <div>

                <p class="textBlog">By<strong class="blue">Brian Ellinger </strong>- 10th Aug, 20202 in <strong class="blue">Investments</strong> </p>
                <p class="textBlog">  12 July, 20</p>
              </div>
              <img class="card-img-top" src="../images/lay1.png" alt="Card image cap" style="width:100%;float: left;margin-right: 13px;" />

              <p>ar away, behind the word mountains, far from the countries Vokalia and Consonantia,
                live the blind texts. Separated they live in Bookmarksgrove right at the coast.
                Semantics, a large language ocean. A small river named Duden flows by their place and
                supplies it with the necessary regelialia. It is a paradisematic country, in which roasted
                parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about
                the blind texts it is an almost unorthographic life One day however a small line of blind text
                by the name of Lorem Ipsum decided to leave for the far World of Grammar.
              </p>
            </div> 
          <!--Fin Nota-->
          <hr>
           <!--Nota-->
           <div>
            <h4>Hills of the Italic Mountain</h4>
            <a href="#" class="card-link">            
              <img class="card-img-top" src="../images/17.png" alt="Card image cap" style="width: 5%;float: left;margin-right: 13px;">
            </a>
            <div>
              <p class="textBlog">By<strong class="blue">Brian Ellinger </strong>- 10th Aug, 20202 in <strong class="blue"> </strong>Investments</strong> </p>
              <p class="textBlog">  12 July, 20</p>
            </div>
            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
              pain was born and I will give you a complete account of the system, and expound the actual
              teachings of the great explorer of the truth, the master-builder of human happiness.
              No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those
              who do not know how to pursue pleasure rationally encounter consequences that are
              extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain
              of itself, because it is pain, but because occasionally circumstances occur in which toil and
              pain can procure him some great pleasure. 
            </p> 
            <img class="card-img-top" src="../images/lay2.png" alt="Card image cap" style="width:100%;float: left;margin-right: 13px;" />

          </div> 
        <!--Fin Nota-->
     <!--Nota-->
     <div>
      <h4>The exquisite sense of mere existence</h4>
   
      <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
        pain was born and I will give you a complete account of the system, and expound the actual
        teachings of the great explorer of the truth, the master-builder of human happiness.
        No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those
who do not know how to pursue pleasure rationally encounter consequences that are
extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain
of itself, because it is pain, but because occasionally circumstances occur in which toil and
pain can procure him some great pleasure.
      </p> 
     <div class="row">
      <div class="col-md-6">
        <img class="card-img-top" src="../images/lay3.png" alt="Card image cap" style="width:100%;float: left;margin-right: 13px;" />

      </div>
      <div class="col-md-6">
<p>A wonderful serenity has taken
  possession of my entire soul, like these
  sweet mornings of spring which I enjoy
  with my whole heart. I am alone, and
  feel the charm of existence in this spot,
  which was created for the bliss.</p>
  <p> I am so happy, my dear friend, so
    absorbed in the exquisite sense of mer
    tranquil existence, that I neglect my
    talents. I should be incapable of
    drawing a single stroke at the present.</p>
      </div>
     </div>
<h4>Mistaken idea of denouncing pleasure</h4>
<p>
  But I must explain to you how all this mistaken idea of denouncing pleasure and praising
pain was born and I will give you a complete account of the system, and expound the actual
teachings of the great explorer of the truth, the master-builder of human happiness.
No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those
who do not know how to pursue pleasure rationally encounter consequences that are
extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain
of itself, because it is pain, but because occasionally circumstances occur in which toil and
pain can procure him some great pleasure. 
</p>
    </div> 
  <!--Fin Nota-->
    <div class="row section-purple">
          <div class="col-md-3">
            <img class="card-img-top" src="../images/house.png" alt="Card image cap" style="width:100%;float: left;margin-right: 13px;" />

          </div>
          <div class="col-md-9">
            <h4>Find the biggest Real Estate Deals
              Below Market Value in your desired city</h4>
              <form class="contact100-form validate-form">
                <div style="width: 71%;padding-bottom: 7px;">

                </div >

                <label for="mail" class="inp_field_middle">
                    <input type="text" id="mail" placeholder="Enter Zip Code" style="width: 100%;">
                    <span class="label"></span>
                    <span class="focus-bg"></span>
                </label>
               

                <button class="button-2-sidebar" style="width: 38%;padding: 16px;">
                        <span>
                          SEND >
                            <i class="m-l-7" aria-hidden="true"></i>
                        </span>
                </button>               
            </form>
          </div>
   </div>
   <br>
  <div class="row black" style="padding:50px;">
    <p style="color:white">Far far away, behind the word mountains, far from the countries
      Vokalia and Consonantia, there live the blind texts. Separated they
      live in Bookmarksgrove right at the coast of the Semantics, a large
      language ocean . A small river named Duden.</p>
      <p style="color:white;font-size: 10px;">Christian Brown</p>
      <br> <p style="color:white;font-size: 10px"> Atlanta</p>
  </div>
<!--Nota-->
<div>
  <h4>A wonderful serenity has taken possession</h4>


  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
    pain was born and I will give you a complete account of the system, and expound the actual
    teachings of the great explorer of the truth, the master-builder of human happiness.
    No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those
who do not know how to pursue pleasure rationally encounter consequences that are
extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain
of itself, because it is pain, but because occasionally circumstances occur in which toil and
pain can procure him some great pleasure. 
  </p>

  <h5>List of existence in this spot</h5>
  <img class="card-img-top" src="../images/lay4.png" alt="Card image cap" style="width:100%;float: left;margin-right: 13px;" />
  <h5>A collection of textile samples</h5>
<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
  pain was born and I will give you a complete account of the system, and expound the actual
  teachings of the great explorer of the truth, the master-builder of human happiness.
  No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those
  who do not know how to pursue pleasure rationally encounter consequences that are
  extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain
  of itself, because it is pain, but because occasionally circumstances occur in which toil and
  pain can procure him some great pleasure. </p>
  <img class="card-img-top" src="../images/lay5.png" alt="Card image cap" style="width:100%;float: left;margin-right: 13px;" />
<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
  pain was born and I will give you a complete account of the system, and expound the actual
  teachings of the great explorer of the truth, the master-builder of human happiness.
  No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those
  who do not know how to pursue pleasure rationally encounter consequences that are
  extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain
  of itself, because it is pain, but because occasionally circumstances occur in which toil and
  pain can procure him some great pleasure. 
</p>
<img class="card-img-top" src="../images/lay6.png" alt="Card image cap" style="width:100%;float: left;margin-right: 13px;" />
<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
  pain was born and I will give you a complete account of the system, and expound the actual
  teachings of the great explorer of the truth, the master-builder of human happiness.</p>
</div> 
<!--Fin Nota-->


    </div>
     <!--Parte 2-->
          <div class="col-md-4" style="text-align: left;"><hr>
            <h5 class="blue">Recommended</h5> 
            <div class="postrecent">
                <a href="#" class="card-link">            
                  <img class="card-img-top" src="../images/architecture-beautiful-home-building-class-280229.jpg" alt="Card image cap" style="width: 24%;float: left;margin-right: 13px;">
                </a>
                <div> 
                  <p class="textBlog"  style="color:black">What is Blockchain and what can be its role in the real State Industry ?</p>
                  <p class="textBlog">Thomas Gonzales - 9Th July, 20</p>
                </div>
            </div><hr>
            <h5 class="blue">Most Popular</h5> 
            <div class="postrecent">
              <a href="#" class="card-link">            
                <img class="card-img-top" src="../images/brown-and-white-wooden-house-164558.jpg" alt="Card image cap" style="width: 24%;float: left;margin-right: 13px;">
              </a>
              <div>
                <p class="textBlog"  style="color:black">What is Blockchain and what can be its role in the real State Industry ?</p>
                <p class="textBlog">Thomas Gonzales - 9Th July, 20</p>
              </div>
          </div>
            <div class="postrecent" >
            <a href="#" class="card-link">            
              <img class="card-img-top" src="../images/administration-ancient-architecture-blue-sky-539763.jpg" alt="Card image cap" style="width: 24%;float: left;margin-right: 13px;">
            </a>
            <div>
              <p class="textBlog"  style="color:black">What is Blockchain and what can be its role in the real State Industry ?</p>
              <p class="textBlog">Thomas Gonzales - 9Th July, 20</p>
            </div>
          </div>
          <div class="postrecent" >
          <a href="#" class="card-link">            
            <img class="card-img-top" src="../images/brown-and-white-wooden-house-164558.jpg" alt="Card image cap" style="width: 24%;float: left;margin-right: 13px;">
          </a>
          <div>
            <p class="textBlog"  style="color:black">What is Blockchain and what can be its role in the real State Industry ?</p>
            <p class="textBlog">Thomas Gonzales - 9Th July, 20</p>
          </div>
          </div>
          <div class="postrecent" >
        <a href="#" class="card-link">            
          <img class="card-img-top" src="../images/architecture-art-clouds-landmark-290386.jpg" alt="Card image cap" style="width: 24%;float: left;margin-right: 13px;">
        </a>
        <div>
          <p class="textBlog"  style="color:black">What is Blockchain and what can be its role in the real State Industry ?</p>
          <p class="textBlog">Thomas Gonzales - 9Th July, 20</p>
        </div>
          </div>
          <div class="blueBox">
              <img  src="../images/newsletter-guy.png"  style="width: 30%;"/>
              <div style="background: #ecf2ff;margin-top: -10px;">
                <br>
                <h5 class="blue">Send me whelesale deals</h5>
                <form class="contact100-form validate-form">
                  <div style="width: 71%;padding-bottom: 7px;">
                    <strong>Subscribe to out newsletter to ger the biggest deals right in yoiu inbox</strong>

                  </div >

                  <label for="mail" class="inp_field">
                      <input type="text" id="mail" placeholder="Enter Zip Code">
                      <span class="label"></span>
                      <span class="focus-bg"></span>
                  </label>
                  <label for="number" class="inp_field">
                      <input type="text" id="numer" placeholder="Enter your mail ID">
                      <span class="label"></span>
                      <span class="focus-bg"></span>
                  </label>

                  <button class="button-2-sidebar">
                          <span>
                            SUBSCRIBE NEW
                              <i class="m-l-7" aria-hidden="true"></i>
                          </span>
                  </button>               
              </form>
              </div>  
          </div>

          <hr>
          <h5 class="blue">Lastest Articles</h5> 
          <div class="postrecent">
            <a href="#" class="card-link">            
              <img class="card-img-top" src="../images/brown-and-white-wooden-house-164558.jpg" alt="Card image cap" style="width: 24%;float: left;margin-right: 13px;">
            </a>
            <div>
              <p class="textBlog"  style="color:black">What is Blockchain and what can be its role in the real State Industry ?</p>
              <p class="textBlog">Thomas Gonzales - 9Th July, 20</p>
            </div>
        </div>
          <div class="postrecent" >
          <a href="#" class="card-link">            
            <img class="card-img-top" src="../images/administration-ancient-architecture-blue-sky-539763.jpg" alt="Card image cap" style="width: 24%;float: left;margin-right: 13px;">
          </a>
          <div>
            <p class="textBlog"  style="color:black">What is Blockchain and what can be its role in the real State Industry ?</p>
            <p class="textBlog">Thomas Gonzales - 9Th July, 20</p>
          </div>
        </div>
          <div class="postrecent" >
        <a href="#" class="card-link">            
          <img class="card-img-top" src="../images/brown-and-white-wooden-house-164558.jpg" alt="Card image cap" style="width: 24%;float: left;margin-right: 13px;">
        </a>
        <div>
          <p class="textBlog"  style="color:black">What is Blockchain and what can be its role in the real State Industry ?</p>
          <p class="textBlog">Thomas Gonzales - 9Th July, 20</p>
        </div>
        </div>
          <div class="postrecent" >
      <a href="#" class="card-link">            
        <img class="card-img-top" src="../images/architecture-art-clouds-landmark-290386.jpg" alt="Card image cap" style="width: 24%;float: left;margin-right: 13px;">
      </a>
      <div>
        <p class="textBlog"  style="color:black">What is Blockchain and what can be its role in the real State Industry ?</p>
        <p class="textBlog">Thomas Gonzales - 9Th July, 20</p>
      </div>
          </div>

          </div>
    </div>
 
</div>

  
</section>
<!--Sección  2-->
<section class="section-purple">
  <div class="container ">
    <div class="row">
        <div class="col-md-6">
          <h2>Do read other articles as well</h2>  
        </div> 
      </div>
    <div class="row">
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/architecture-art-clouds-landmark-290386.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title blue">Marketing</h5>
              <p class="card-text"><strong>What is blockchain and whats can be its role in the Real Estate Industry ? </strong></p>
            </div>
            <div class="card-body" style="padding-top: 0px;">
              <a href="#" class="card-link">            
                <img class="card-img-top" src="../images/17.png" alt="Card image cap" style="width: 20%;float: left;margin-right: 13px;">
              </a>
              <div>
                <p class="textBlog">Veronica White</p>
                <p class="textBlog">  12 July, 20</p>
              </div>
            

            

            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../images/architecture-art-clouds-landmark-290386.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title blue">Marketing</h5>
            <p class="card-text"><strong>What is blockchain and whats can be its role in the Real Estate Industry ? </strong></p>
          </div>
          <div class="card-body" style="padding-top: 0px;">
            <a href="#" class="card-link">            
              <img class="card-img-top" src="../images/17.png" alt="Card image cap" style="width: 20%;float: left;margin-right: 13px;">
            </a>
            <div>
              <p class="textBlog">Veronica White</p>
              <p class="textBlog">  12 July, 20</p>
            </div>
          

          

          </div>
        </div>
    </div><div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../images/architecture-art-clouds-landmark-290386.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title blue">Marketing</h5>
          <p class="card-text"><strong>What is blockchain and whats can be its role in the Real Estate Industry ? </strong></p>
        </div>
        <div class="card-body" style="padding-top: 0px;">
          <a href="#" class="card-link">            
            <img class="card-img-top" src="../images/17.png" alt="Card image cap" style="width: 20%;float: left;margin-right: 13px;">
          </a>
          <div>
            <p class="textBlog">Veronica White</p>
            <p class="textBlog">  12 July, 20</p>
          </div>
        

        

        </div>
      </div>
  </div>
    </div>

  </div>
</section>



<!--Footer-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="navbar-brand" href="#"><img src="../images/logo.png"/></a>
        <p class="footer-text">4708  Par Drive, Pismo Beach,</p>
        <p class="footer-text">California - 93449.</p>
        <p class="footer-text">Copyright       2020 Wholesaledeals Inc.</p>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12 menu-footer">
            <a class="subfootertext" href="#">Investment Properties</a>
            <a class="subfootertext" href="#">Success Stories</a>
            <a class="subfootertext" href="#">Get Funding</a>
            <a class="subfootertext" href="#">Post a deal</a>
            <a class="subfootertext" href="#">Resources</a>
            <a class="subfootertext" href="#">Contact</a>
            <hr class="hrgrey">
        </div>
        <div class="col-md-3 columns4">
          <p class="title">Company</p>
          <p><a  class="subfootertext" href="#">Sell your property</a></p>
          <p><a  class="subfootertext"href="#">How to mortgage?</a></p>
          <p> <a  class="subfootertext"href="#">How it works?</a></p>
        </div>
        <div class="col-md-3 columns4">          <p class="title">About Us</p>
          <p> <a class="subfootertext" href="#">Who are we?</a></p>
            <p> <a class="subfootertext" href="#">Terms & Services</a></p>
              <p> <a class="subfootertext" href="#">Privacy Policy</a></p>
          
        </div>
        <div class="col-md-3 columns4">          <p class="title">Contact us</p>
          <p>  <a class="subfootertext" ref="#">Who are we?</a></p>
          <p>  <a class="subfootertext" href="#">Terms & Services</a></p>
        </div>
        <div class="col-md-3 columns3">          <p class="title"></p>
          <i class="fa fa-facebook" aria-hidden="true"></i><a href="#"> </a>
          <i class="fa fa-twitter" aria-hidden="true"></i><a href="#"> </a>
          <i class="fa fa-linkedin" aria-hidden="true"></i><a href="#"> <a href="#"></a>
        </div> 
        </div> 
         

    </div>
    </div>      
  </div>      
</footer>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js'></script>

<script type="text/javascript">

$(document).ready(function(){
  $('.carouselfirts').slick({
  slidesToShow: 4,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
  });
});
</script>
<script type="text/javascript">

  $(document).ready(function(){
    $('.carouselsecond').slick({
    slidesToShow: 4,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
    });
  });
  </script>
</body>
</html>
