<!DOCTYPE html>
<html lang="en">
  <head>
    <title>wholesaledeals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <link rel="stylesheet" href="../assets/css/main.css"/>
  </head>
<body>   

<nav class="navbar navbar-expand-sm mainnav">
  <a class="navbar-brand" href="#"><img src="../images/logo.png"/></a>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item"> 
        <a class="nav-link" href="#">Investment Properties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Success Stories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Get Funding</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="#">Post a deal</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="#">Resources</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>   
    </ul>
    <div class="main-button">
      <button class="button-1">Sign in </button>
      <button class="button-2">Get Started </button>
    </div>  
  </div>  
</nav>
<!-- Banner Main-->
<div class="jumbotron-profile">
    <div class="container-fluid borderbottom" > 
   
        <div class="form-row">
          <div class="form-group col-md-2"> 
            <label class="labelsearch " for="inputfinder">SEARCH YOUR DESIRED CITY</label>
            <input type="text" class="form-control " id="inputfinder" placeholder="Search your desider city"><i class="fas fa-search"></i>
          </div>
          <div class="form-group col-md-2">
            <label class="labelsearch" for="inputtype">PROPERTY TYPE</label>
            <select id="inputtype" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label  class="labelsearch" for="sdeal">DEAL CATEGORY</label>
            <select id="sdeal" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-1">
            <label  class="labelsearch" for="smin"> MIN PRICE</label>
            <select id="smin" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-1">
            <label class="labelsearch" for="smax">MAX PRICE</label>
            <select id="smax" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label class="labelsearch" for="sbedroom">BEDROOMS</label>
            <select id="sbedroom" class="form-control">
              <option selected>Any...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label class="labelsearch" for="sbathroom">BATHROOMS</label>
            <select id="sbathroom" class="form-control">
              <option selected>Any...</option>
              <option>...</option>
            </select>
          </div>
        </div> 
     
  
  </div> 
</div>  
<!-- As seen On +  Slider -->
<!--Notes Cards # Reasons--> 
<div class="container-fluid" style="margin-top:30px">
    <div class="row">
       <div class="col-md-6">
        <div class="row">
            <div class="col-md-10">
                <h5>Miami FL Real Estate and Homes for sale</h5>    
            </div>
            <div class="col-md-2">
                <i class="fas fa-sync"></i>
            </div>
        </div><p class="grey"><strong class="blue">7,420</strong> results to match your criteria</p>
    <div class="row">
        <div class="col-md-6">
                    <div class="card">
                        <div class="centerHeart"> <i class="fa fa-heart" aria-hidden="true"></i></div>
                        <img src="../images/architecture-beautiful-home-building-class-280229.jpg" class="card-img-top" alt="..." />
                        <div class="card-bodySlider purple">
                            <h5 class="card-title">4188 Pallet Street</h5>
                            <p class="card-sub-title">South Boston</p><hr  class="cardHr"> 
                            <div class="row" style="text-align: left;">
                                <div class="col-md-4 minibox" style="font-size:9px">
                                <strong class="strongfinder">2364</strong> Sqft.
                                </div>
                                
                                <div class="col-md-4 minibox"  style="font-size:9px">
                                <strong class="strongfinder">4 </strong> Beds
                                </div>
                                
                                <div class="col-md-4 "  style="font-size:9px">
                                    <strong class="strongfinder">5</strong> Bathrooms
                                </div>
                            </div>                 
                            <hr class="cardHr">
                            <div class="row blue">
                            <div class="col-md-5 left">
                                <strong class="strongfooterfinder"> POTENTIAL PROFIT</strong>
                                <strong class="valuedealfinder"> 110,000</strong>
                            </div>
                            <div class="col-md-1">
                                <hr class="vertical" style="margin-top: 0rem;">
                            </div>
                            <div class="col-md-5">
                                <strong class="strongfooterfinder grey">ASKING PRICE</strong>
                                <strong class="valuedealfinder2" >$249,000</strong>
                            </div> 
                            
                            
                            </div> 
                        </div>
                    </div> 
            </div><div class="col-md-6">
                <div class="card">
                <div class="centerHeart"> <i class="fa fa-heart" aria-hidden="true"></i>
                </div>
                <img src="../images/architecture-building-buy-buyer-221540.jpg" class="card-img-top" alt="...">
                <div class="card-bodySlider purple">
                    <h5 class="card-title">4188 Pallet Street</h5>
                    <p class="card-sub-title">South Boston</p><hr  class="cardHr"> 
                    <div class="row" style="text-align: left;">
                        <div class="col-md-4 minibox" style="font-size:9px">
                        <strong class="strongfinder">2364</strong> Sqft.    
                        </div>
                        
                        <div class="col-md-4 minibox"  style="font-size:9px">
                        <strong class="strongfinder">4 </strong> Beds 
                        </div>
                        
                        <div class="col-md-4"  style="font-size:9px">
                            <strong class="strongfinder">5</strong> Bathrooms
                        </div>
                    </div>                 
                    <hr class="cardHr">
                    <div class="row blue">
                    <div class="col-md-5 left">
                        <strong class="strongfooterfinder"> POTENTIAL PROFIT</strong>
                        <strong class="valuedealfinder"> 110,000</strong>
                    </div>
                    <div class="col-md-1"> 
                        <hr class="vertical" style="margin-top: 0rem;">
                    </div>
                    <div class="col-md-5">
                        <strong class="strongfooterfinder grey">ASKING PRICE</strong>
                        <strong class="valuedealfinder2" >$249,000</strong>
                    </div>
                    </div> 
                </div>
            </div> 
            </div><div class="col-md-6">
                <div class="card">
                <div class="centerHeart"> <i class="fa fa-heart" aria-hidden="true"></i>
                </div>
                <img src="../images/architecture-clouds-daylight-driveway-259588.jpg" class="card-img-top" alt="...">
                <div class="card-bodySlider purple">
                    <h5 class="card-title">4188 Pallet Street</h5>
                    <p class="card-sub-title">South Boston</p><hr  class="cardHr"> 
                    <div class="row" style="text-align: left;">
                        <div class="col-md-4 minibox" style="font-size:9px">
                        <strong class="strongfinder">2364</strong> Sqft.   
                        </div>
                        
                        <div class="col-md-4 minibox"  style="font-size:9px">
                        <strong class="strongfinder">4 </strong> Beds 
                        </div>
                        
                        <div class="col-md-4"  style="font-size:9px">
                            <strong class="strongfinder">5</strong> Bathrooms
                        </div>
                    </div>                 
                    <hr class="cardHr">
                    <div class="row blue">
                    <div class="col-md-5 left">
                        <strong class="strongfooterfinder"> POTENTIAL PROFIT</strong>
                        <strong class="valuedealfinder"> 110,000</strong>
                    </div>
                    <div class="col-md-1">
                        <hr class="vertical" style="margin-top: 0rem;">
                    </div>
                    <div class="col-md-5">
                        <strong class="strongfooterfinder grey">ASKING PRICE</strong>
                        <strong class="valuedealfinder2" >$249,000</strong>
                    </div> 
                    
                    
                    </div> 
                </div>
                
                
                </div> 
            </div><div class="col-md-6">
                <div class="card">
                <div class="centerHeart"> <i class="fa fa-heart" aria-hidden="true"></i>
                </div>
                <img src="../images/brown-and-white-wooden-house-164558.jpg" class="card-img-top" alt="...">
                <div class="card-bodySlider purple">
                    <h5 class="card-title">4188 Pallet Street</h5>
                    <p class="card-sub-title">South Boston</p><hr  class="cardHr"> 
                    <div class="row" style="text-align: left;">
                        <div class="col-md-4 minibox" style="font-size:9px">
                        <strong class="strongfinder">2364</strong> Sqft.    
                        </div>
                        
                        <div class="col-md-4 minibox"  style="font-size:9px">
                        <strong class="strongfinder">4 </strong> Beds 
                        </div>
                        
                        <div class="col-md-4"  style="font-size:9px">
                            <strong class="strongfinder">5</strong> Bathrooms
                        </div>
                    </div>                 
                    <hr class="cardHr">
                    <div class="row blue">
                    <div class="col-md-5 left">
                        <strong class="strongfooterfinder"> POTENTIAL PROFIT</strong>
                        <strong class="valuedealfinder"> 110,000</strong>
                    </div>
                    <div class="col-md-1">
                        <hr class="vertical" style="margin-top: 0rem;">
                    </div>
                    <div class="col-md-5">
                        <strong class="strongfooterfinder grey">ASKING PRICE</strong>
                        <strong class="valuedealfinder2" >$249,000</strong>
                    </div> 
                    
                    
                    </div> 
                </div>
                
                
                </div> 
            </div>
            
     </div>
     <div class="row">
        <div class="col-md-3">
            <hr style="width: 100%;"> 

        </div>
        <div class="col-md-6">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
        </div>
        <div class="col-md-3">
            <hr style="width: 100%;">
        </div>
           
     
    </div>
       </div>  
               
      
    
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26371661.859564565!2d-113.72360706725826!3d36.210406270518746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sEstados%20Unidos!5e0!3m2!1ses-419!2sco!4v1598975516767!5m2!1ses-419!2sco" width="750" height="850" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div> 

</div>  


<!--Footer-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="navbar-brand" href="#"><img src="../images/logo.png"/></a>
        <p class="footer-text">4708  Par Drive, Pismo Beach,</p>
        <p class="footer-text">California - 93449.</p>
        <p class="footer-text">Copyright       2020 Wholesaledeals Inc.</p>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12 menu-footer">
            <a class="subfootertext" href="#">Investment Properties</a>
            <a class="subfootertext" href="#">Success Stories</a>
            <a class="subfootertext" href="#">Get Funding</a>
            <a class="subfootertext" href="#">Post a deal</a>
            <a class="subfootertext" href="#">Resources</a>
            <a class="subfootertext" href="#">Contact</a>
            <hr class="hrgrey">
        </div>
        <div class="col-md-3 columns4">
          <p class="title">Company</p>
          <p><a  class="subfootertext" href="#">Sell your property</a></p>
          <p><a  class="subfootertext"href="#">How to mortgage?</a></p>
          <p> <a  class="subfootertext"href="#">How it works?</a></p>
        </div>
        <div class="col-md-3 columns4">          <p class="title">About Us</p>
          <p> <a class="subfootertext" href="#">Who are we?</a></p>
            <p> <a class="subfootertext" href="#">Terms & Services</a></p>
              <p> <a class="subfootertext" href="#">Privacy Policy</a></p>
          
        </div>
        <div class="col-md-3 columns4">          <p class="title">Contact us</p>
          <p>  <a class="subfootertext" ref="#">Who are we?</a></p>
          <p>  <a class="subfootertext" href="#">Terms & Services</a></p>
        </div>
        <div class="col-md-3 columns3">          <p class="title"></p>
          <i class="fa fa-facebook" aria-hidden="true"></i><a href="#"> </a>
          <i class="fa fa-twitter" aria-hidden="true"></i><a href="#"> </a>
          <i class="fa fa-linkedin" aria-hidden="true"></i><a href="#"> <a href="#"></a>
        </div> 
        </div> 
         

    </div>
    </div>      
  </div>      
</footer>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js'></script>

<script type="text/javascript">

$(document).ready(function(){
  $('.carouselfirts').slick({
  slidesToShow: 4, 
  slidesToScroll: 1,
  autoplay: false,
  autoplaySpeed: 2000,
  });
});
</script> 
<script type="text/javascript">

  $(document).ready(function(){
    $('.carouselsecond').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: false,
    autoplaySpeed: 2000,
    });
  });
  </script>
</body>
</html>
